@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-[Poppins] text-[#333];
    background: linear-gradient(-45deg, #FDE2E4, #FFF1E6, #E2ECE9, #BEE1E6);
    background-size: 300% 300%;
    animation: gradient-x 12s ease infinite;
}

.animatedButton {
    animation-duration: 10000ms;
}

.ql-container {
    border: none !important;
}
.ql-toolbar {
    border: none !important;
}
.ql-editor {
    border: none !important;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
